extends formLayout
block content
    div
        div.jumbotron(style="margin-top:10%")
            h2 Oops...
            p.
                It seems the page you were looking for is not available anymore. 


