extends formLayout
block content
    div
        div.jumbotron(style="margin-top:10%")
            h2 Oops...
            p.
                Our server experienced an internal error, please, try again later, if the error persists, contact us at: hello@tri-cs.me 
                
//- TODO Edit the email
