extends ../sidebarLayout

block content
  .page-header
    h3 Cohort Settings

  form.form-horizontal(action='/account/profile', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    
    .form-group
      label.col-sm-2.control-label(for='email') Form Accessibility
      .col-sm-4
        input(type="checkbox", checked, data-size='large', data-toggle="toggle", data-on-text="OPEN", data-off-text="CLOSED", data-on-color="success", data-off-color="danger")
    
    .form-group
      label.col-sm-2.control-label(for='email') Questionnaire Template
      .col-sm-4
        select.form-control
          option(value='form1') Form 1
          option(value='form2') Form 2
          option(value='form3') Form 3
          option(value='form4') Form 4
          option(value='form5') Form 5
     
     
    
    .form-group
      label.col-sm-2.control-label(for='email') Form Link
      .col-sm-6
        | https://domain.com/form/
        input.form-control(type='text', style='display: inline;width: 200px;height: 35px;')
    
    .form-group
      .col-sm-offset-2.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          span.ion-edit
          | Update Cohort

  .page-header
    h3 Delete This Cohort
  .col-sm-offset-2
    p You can delete this cohort, but keep in mind this action is irreversible.
    form(action='', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      button.btn.btn-danger(type='submit')
        span.ion-trash-b
        | Delete this cohort
  
  .page-header
    h3 Create Another Cohort
  .col-sm-offset-2  
    form(action='', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      button.btn.btn-info(type='submit')
        span.ion-plus-circled
        | Create another cohort
      
      



    
  script.
    $( document ).ready(function() {
      $('input[type="checkbox"]').bootstrapSwitch();
    });
    
