extends ../formLayout

block content
  form.form-horizontal(action='/form/'+cohort._id+'/'+cohort.secret, method='POST')
    .page-header(style="margin-top:250px;")
      h3 Student Information
    div
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group.has-error
        label.col-sm-3.control-label(for='email') Student Number
        .col-sm-5
          input.form-control(type='email', name='email', id='email', value='')
      .form-group
        label.col-sm-3.control-label(for='name') First Name
        .col-sm-5
          input.form-control(type='text', name='name', id='name', value='')
      .form-group
        label.col-sm-3.control-label(for='gravatar') Last Name
        .col-sm-5
          input.form-control(type='text', name='name', id='name', value='')
      .form-group
        label.col-sm-3.control-label(for='gravatar') Academic Standing (Year)
        .col-sm-5
          input.form-control(type='text', name='name', id='name', value='')


    .page-header
      h3 Contact
    div
      .form-group.has-error
        label.col-sm-3.control-label(for='email') Email Address
        .col-sm-5
          input.form-control(type='email', name='email', id='email', value='')
      .form-group
        label.col-sm-3.control-label(for='name') Cellphone Number
        .col-sm-5
          input.form-control(type='text', name='name', id='name', value='')
      .form-group
        label.col-sm-3.control-label(for='gravatar') Availability
        .col-sm-5
          input.form-control(type='text', name='name', id='name', value='')
                      
    .page-header
      h3 Personality
    div
      .form-group
        label.col-sm-3.control-label(for='gravatar') Introversion
        .col-sm-5
          input.form-control(type='text', name='name', id='name', value='')
      
    .page-header
      h3 Interests
      
    div
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.col-sm-3.control-label(for='email') Sports
        .col-sm-5
          input.form-control(type='email', name='email', id='email', value='')
      .form-group
        label.col-sm-3.control-label(for='name') Interests
        .col-sm-5
          input.form-control(type='text', name='name', id='name', value='')
      .form-group.has-error
        label.col-sm-3.control-label(for='gravatar') Hobbies
        .col-sm-5
          input.form-control(type='text', name='name', id='name', value='')
      
    
      button.btn.btn.btn-primary.col-sm-6.col-sm-offset-2.col-xs-12(type='submit')
        span.ion-android-hand
        | Submit!


