extends ../sidebarLayout
    
//- Hacky attempt at Namespacing CSS
block pageStyle
  - var pageStyleVar = "pageStyle-crossFilter "
  

  
block content
  h1.title=title
  style.
    .pageStyle-crossFilter .chart_box{padding-bottom:0px;}
    
    .dc-chart g.row text {
      fill: rgb(43, 43, 43);
     }
  
  .chart_box(style="margin-bottom:15px;min-height:65px;")
    h4.data-count.number-chart Loading Graph, Please Wait...
  .oneThird
    #duration-chart.dc-chart.chart_box
      h4 Junior/Senior Matches
        small  
      span.reset(style='display: none;')
      a.reset(href='javascript:durationChart.filterAll();dc.redrawAll();', style='display: none;') reset
      .clearfix
  .oneThird
    #arrival-hour-chart.dc-chart.chart_box
      h4 Senior/Mentor Matches
      span.reset(style='display: none;')
      a.reset(href='javascript:arrivalHourChart.filterAll();dc.redrawAll();', style='display: none;') reset
      .clearfix
  .oneThird
    #departure-hour-chart.dc-chart.chart_box
      h4 Client Departures by Hour 
      span.reset(style='display: none;')
      a.reset(href='javascript:departureHourChart.filterAll();dc.redrawAll();', style='display: none;') reset
      .clearfix
  .oneThird
    #day-of-week-chart.dc-chart.chart_box
      h4 Availability
      a.reset(href='javascript:dayOfWeekChart.filterAll();dc.redrawAll();', style='display: none;') reset
      .clearfix
  .oneThird
    #role-chart.dc-chart.chart_box
      h4 Role (junior/senior/mentor)
      a.reset(href='javascript:roleChart.filterAll();dc.redrawAll();', style='display: none;') reset
      .clearfix
  .oneThird
    #cohort-chart.dc-chart.chart_box
      h4 Cohort
      a.reset(href='javascript:cohortChart.filterAll();dc.redrawAll();', style='display: none;') reset
      .clearfix
  .oneThird
    #frequency-chart.dc-chart.chart_box
      h4 Frequency
        small  - Days since last visit 
      span.reset(style='display: none;')
      a.reset(href='javascript:frequencyChart.filterAll();dc.redrawAll();', style='display: none;') reset
      .clearfix
  .oneThird
      #loyalty-chart.dc-chart.chart_box
        h4 Loyalty
          small  - Number of Visits per customer 
        span.reset(style='display: none;')
        a.reset(href='javascript:loyaltyChart.filterAll();dc.redrawAll();', style='display: none;') reset
        .clearfix
  .full
      .chart_box
        #weekly-move-chart.dc-chart
          h4 Weekly Volume 
          span.reset(style='display: none;')
          a.reset(href='javascript:moveChart.filterAll();originChart.filterAll();volumeChart.filterAll();dc.redrawAll();', style='display: none;') reset
          .clearfix
        #weekly-volume-chart.dc-chart
          h4 Daily Volume 
          span.reset(style='display: none;')
          a.reset(href='javascript:moveChart.filterAll();volumeChart.filterAll();dc.redrawAll();', style='display: none;') reset
          .clearfix
        #origin-chart.dc-chart
          h4 Customer's first visit date 
          span.reset(style='display: none;')
          a.reset(href='javascript:originChart.filterAll();dc.redrawAll();', style='display: none;') reset
          .clearfix

  .full
      .chart_box
        table#example.table.table-striped.table-bordered(cellspacing='0', width='100%')
          thead
            tr
              th Name
              th Position
              th Office
              th Age
              th Start date
              th Salary
          tfoot
            tr
              th Name
              th Position
              th Office
              th Age
              th Start date
              th Salary
          tbody
            tr
              td Tiger Nixon
              td System Architect
              td Edinburgh
              td 61
              td 2011/04/25
              td $320,800
            tr
              td Garrett Winters
              td Accountant
              td Tokyo
              td 63
              td 2011/07/25
              td $170,750
            tr
              td Ashton Cox
              td Junior Technical Author
              td San Francisco
              td 66
              td 2009/01/12
              td $86,000
            tr
              td Cedric Kelly
              td Senior Javascript Developer
              td Edinburgh
              td 22
              td 2012/03/29
              td $433,060
            tr
              td Airi Satou
              td Accountant
              td Tokyo
              td 33
              td 2008/11/28
              td $162,700
            tr
              td Brielle Williamson
              td Integration Specialist
              td New York
              td 61
              td 2012/12/02
              td $372,000
            tr
              td Herrod Chandler
              td Sales Assistant
              td San Francisco
              td 59
              td 2012/08/06
              td $137,500
            tr
              td Rhona Davidson
              td Integration Specialist
              td Tokyo
              td 55
              td 2010/10/14
              td $327,900
            tr
              td Colleen Hurst
              td Javascript Developer
              td San Francisco
              td 39
              td 2009/09/15
              td $205,500
            tr
              td Sonya Frost
              td Software Engineer
              td Edinburgh
              td 23
              td 2008/12/13
              td $103,600
            tr
              td Jena Gaines
              td Office Manager
              td London
              td 30
              td 2008/12/19
              td $90,560
            tr
              td Quinn Flynn
              td Support Lead
              td Edinburgh
              td 22
              td 2013/03/03
              td $342,000
            tr
              td Charde Marshall
              td Regional Director
              td San Francisco
              td 36
              td 2008/10/16
              td $470,600
            tr
              td Haley Kennedy
              td Senior Marketing Designer
              td London
              td 43
              td 2012/12/18
              td $313,500
            tr
              td Tatyana Fitzpatrick
              td Regional Director
              td London
              td 19
              td 2010/03/17
              td $385,750
            tr
              td Michael Silva
              td Marketing Designer
              td London
              td 66
              td 2012/11/27
              td $198,500
            tr
              td Paul Byrd
              td Chief Financial Officer (CFO)
              td New York
              td 64
              td 2010/06/09
              td $725,000
            tr
              td Gloria Little
              td Systems Administrator
              td New York
              td 59
              td 2009/04/10
              td $237,500
            tr
              td Bradley Greer
              td Software Engineer
              td London
              td 41
              td 2012/10/13
              td $132,000
            tr
              td Dai Rios
              td Personnel Lead
              td Edinburgh
              td 35
              td 2012/09/26
              td $217,500
            tr
              td Jenette Caldwell
              td Development Lead
              td New York
              td 30
              td 2011/09/03
              td $345,000
            tr
              td Yuri Berry
              td Chief Marketing Officer (CMO)
              td New York
              td 40
              td 2009/06/25
              td $675,000
            tr
              td Caesar Vance
              td Pre-Sales Support
              td New York
              td 21
              td 2011/12/12
              td $106,450
            tr
              td Doris Wilder
              td Sales Assistant
              td Sidney
              td 23
              td 2010/09/20
              td $85,600
            tr
              td Angelica Ramos
              td Chief Executive Officer (CEO)
              td London
              td 47
              td 2009/10/09
              td $1,200,000
            tr
              td Gavin Joyce
              td Developer
              td Edinburgh
              td 42
              td 2010/12/22
              td $92,575
            tr
              td Jennifer Chang
              td Regional Director
              td Singapore
              td 28
              td 2010/11/14
              td $357,650
            tr
              td Brenden Wagner
              td Software Engineer
              td San Francisco
              td 28
              td 2011/06/07
              td $206,850
            tr
              td Fiona Green
              td Chief Operating Officer (COO)
              td San Francisco
              td 48
              td 2010/03/11
              td $850,000
            tr
              td Shou Itou
              td Regional Marketing
              td Tokyo
              td 20
              td 2011/08/14
              td $163,000
            tr
              td Michelle House
              td Integration Specialist
              td Sidney
              td 37
              td 2011/06/02
              td $95,400
            tr
              td Suki Burks
              td Developer
              td London
              td 53
              td 2009/10/22
              td $114,500
            tr
              td Prescott Bartlett
              td Technical Author
              td London
              td 27
              td 2011/05/07
              td $145,000
            tr
              td Gavin Cortez
              td Team Leader
              td San Francisco
              td 22
              td 2008/10/26
              td $235,500
            tr
              td Martena Mccray
              td Post-Sales support
              td Edinburgh
              td 46
              td 2011/03/09
              td $324,050
            tr
              td Unity Butler
              td Marketing Designer
              td San Francisco
              td 47
              td 2009/12/09
              td $85,675
            tr
              td Howard Hatfield
              td Office Manager
              td San Francisco
              td 51
              td 2008/12/16
              td $164,500
            tr
              td Hope Fuentes
              td Secretary
              td San Francisco
              td 41
              td 2010/02/12
              td $109,850
            tr
              td Vivian Harrell
              td Financial Controller
              td San Francisco
              td 62
              td 2009/02/14
              td $452,500
            tr
              td Timothy Mooney
              td Office Manager
              td London
              td 37
              td 2008/12/11
              td $136,200
            tr
              td Jackson Bradshaw
              td Director
              td New York
              td 65
              td 2008/09/26
              td $645,750
            tr
              td Olivia Liang
              td Support Engineer
              td Singapore
              td 64
              td 2011/02/03
              td $234,500
            tr
              td Bruno Nash
              td Software Engineer
              td London
              td 38
              td 2011/05/03
              td $163,500
            tr
              td Sakura Yamamoto
              td Support Engineer
              td Tokyo
              td 37
              td 2009/08/19
              td $139,575
            tr
              td Thor Walton
              td Developer
              td New York
              td 61
              td 2013/08/11
              td $98,540
            tr
              td Finn Camacho
              td Support Engineer
              td San Francisco
              td 47
              td 2009/07/07
              td $87,500
            tr
              td Serge Baldwin
              td Data Coordinator
              td Singapore
              td 64
              td 2012/04/09
              td $138,575
            tr
              td Zenaida Frank
              td Software Engineer
              td New York
              td 63
              td 2010/01/04
              td $125,250
            tr
              td Zorita Serrano
              td Software Engineer
              td San Francisco
              td 56
              td 2012/06/01
              td $115,000
            tr
              td Jennifer Acosta
              td Junior Javascript Developer
              td Edinburgh
              td 43
              td 2013/02/01
              td $75,650
            tr
              td Cara Stevens
              td Sales Assistant
              td New York
              td 46
              td 2011/12/06
              td $145,600
            tr
              td Hermione Butler
              td Regional Director
              td London
              td 47
              td 2011/03/21
              td $356,250
            tr
              td Lael Greer
              td Systems Administrator
              td London
              td 21
              td 2009/02/27
              td $103,500
            tr
              td Jonas Alexander
              td Developer
              td San Francisco
              td 30
              td 2010/07/14
              td $86,500
            tr
              td Shad Decker
              td Regional Director
              td Edinburgh
              td 51
              td 2008/11/13
              td $183,000
            tr
              td Michael Bruce
              td Javascript Developer
              td Singapore
              td 29
              td 2011/06/27
              td $183,000
            tr
              td Donna Snider
              td Customer Support
              td New York
              td 27
              td 2011/01/25
              td $112,000

















 
  script.
    $(document).ready(function() {
        $('#example').dataTable();
    } );

    //# dc.js Getting Started and How-To Guide
    'use strict';
    
    /* jshint globalstrict: true */
    /* global dc,d3,crossfilter,colorbrewer */
    
    // ~~~ Create Chart Objects
    // Create chart objects assocated with the container elements identified by the css selector.
    // Note: It is often a good idea to have these objects accessible at the global scope so that they can be modified or filtered by other page controls.
    
    var frequencyChart = dc.barChart("#frequency-chart");
    var durationChart = dc.barChart("#duration-chart");
    var loyaltyChart = dc.barChart("#loyalty-chart");
    var dayOfWeekChart = dc.rowChart("#day-of-week-chart");
    var roleChart = dc.pieChart("#role-chart");
    var cohortChart = dc.rowChart("#cohort-chart");
    var arrivalHourChart = dc.barChart("#arrival-hour-chart");
    var departureHourChart = dc.barChart("#departure-hour-chart");
    
    var moveChart = dc.lineChart("#weekly-move-chart");
    var volumeChart = dc.barChart("#weekly-volume-chart");
    var originChart = dc.barChart("#origin-chart");
    
    
    // ~~~ Anchor Div for Charts
    /*
    // A div anchor that can be identified by id
        <div id="your-chart"></div>
    // Title or anything you want to add above the chart
        <div id="chart"><span>Days by Gain or Loss</span></div>
    // ~~~~~ .turnOnControls()
    // If a link with css class "reset" is present then the chart
    // will automatically turn it on/off based on whether there is filter
    // set on this chart (slice selection for pie chart and brush
    // selection for bar chart). Enable this with `chart.turnOnControls(true)`
         <div id="chart">
           <a class="reset" href="javascript:myChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
         </div>
    // dc.js will also automatically inject applied current filter value into
    // any html element with css class set to "filter"
        <div id="chart">
            <span class="reset" style="display: none;">Current filter: <span class="filter"></span></span>
        </div>
    */
    
    
    //~~~ Load your data  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    
    //Data can be loaded through regular means with your
    //favorite javascript library
    //
    // ---javascript
    //d3.csv("data.csv", function(data) {...};
    //d3.json("data.json", function(data) {...};
    //jQuery.getJson("data.json", function(data){...});
    // ---
    var stuff;
    window.onresize= function(){dc.renderAll();}
    
    d3.json("/tmpdata.txt", function (data) {
        /* since its a csv file we need to format the data a bit */
        
        var dateFormat = d3.time.format("%m/%d/%Y");
        var numberFormat = d3.format(".2f");
        var days= ["Sun","Mon","Tue","Wed","Thu","Fri","Sat"];
        
        var dataDateStart= new Date( data[0].start );
        var dataDateEnd  = new Date( data.slice(-1)[0].end);
        
        data.forEach(function (d) {
        
          d.start = new Date(d.start);
          d.end = new Date(d.end);
          
          
          d.startHour = d.start.getHours();
          d.startDay = d3.time.day(d.start);
                    
          d.endHour = d.end.getHours();
    
          d.startWeek = d3.time.week(d.start);
          d.startWeekDay = d.start.getDay()+"."+days[d.start.getDay()];
    
          d.duration = Math.round(d.duration/60/10); // DURATION in mins, with a dirty hack for 5 min resolution.  Value scaled down, then up again later on.

          d.frequency = Math.round(d.frequency/86400);  // CHANGE TO DAYS

          d.origin = new Date(d.origin);
          d.originDate = d3.time.day(d.origin);
          d.originWeek = d3.time.week(d.origin);
          // d.relStart  // IMPLEMENT A CHART
        });
    
        //~~~ Create Crossfilter Dimensions and Groups  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    
        //See the [crossfilter API](https://github.com/square/crossfilter/wiki/API-Reference) for reference.
        var ndx = crossfilter(data);
    
    
        // determine a histogram of visit frequency
        var freqDim = ndx.dimension(function (d) {
            return d.frequency;
        });
        var freqGroup = freqDim.group();
    
        // determine a histogram of duration
        var durationDim = ndx.dimension(function (d) {
            return d.duration;
        });
        var durationGroup = durationDim.group();
     
        // determine a histogram of loyalty
        var loyaltyDim = ndx.dimension(function (d) {
            return d.loyalty;
        });
        
        var loyaltyGroup = loyaltyDim.group();
   
        // counts per weekday
        var dayOfWeekDim = ndx.dimension(function (d) {
            return d.startWeekDay;
         });
        var dayOfWeekGroup = dayOfWeekDim.group();
    
        // counts per hour
        var hourOfDayDim = ndx.dimension(function (d) {
            return d.startHour;
         });
        var hourOfDayGroup = hourOfDayDim.group();
    
        // counts per hour
        var departureHourDim = ndx.dimension(function (d) {
            return d.endHour;
         });
        var departureHourGroup = departureHourDim.group();
    
    
        // dimension by day
        var moveDaysDim = ndx.dimension(function (d) {
            return d.startDay;
        });
        
        // group by total volume within move, and scale down result
        var volumeByDayGroup = moveDaysDim.group().reduceSum(function (d) {
            return 1;
        });
        
        // dimension by week
        var moveWeeksDim = ndx.dimension(function (d) {
            return d.startWeek;
        });
        
        var indexAvgByWeekGroup = moveWeeksDim.group().reduce(
            function (p, v) {
          if ( v.loyalty == 1 ) p.newClients++;
          else p.returnClients++;
              return p;
            },
            function (p, v) {
          if ( v.loyalty == 1 ) p.newClients--;
          else p.returnClients--;
              return p;
            },
            function () {
                return {newClients: 0, returnClients: 0};
            }
        );
        
        // dimension by Origin Week
        var originDim = ndx.dimension(function (d) {
            return d.originDate;
        });
        
        // group by origin, and scale down result
        var originGroup = originDim.group().reduceSum(function (d) {
            return 1;
        });
        
        var all = ndx.groupAll();
        
        
        //~~~~ Charting   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
              
          dc.dataCount(".data-count")
              .dimension(ndx)
              .group(all)
              .html({
            some:"<strong>%filter-count</strong> out of <strong> %total-count</strong> groups selected | <a href='javascript:dc.filterAll(); dc.renderAll();''>Reset All Filters</a>",
            all:"All <strong>%total-count</strong> groups selected. Please click on any graph to get started.",
            none: "<strong>Zero Matching groups.</strong>  | <a href='javascript:dc.filterAll(); dc.renderAll();''>Reset All Filters</a> "
          });

          frequencyChart.width(function (){ return $("#duration-chart").width();})
            .height(function (){ return window.innerHeight*.7 < 260 ? window.innerHeight*0.7 : 260;})
            .transitionDuration(350)
            .margins({top: 5, right: 10, bottom: 37, left: 38})
            .dimension(freqDim)
            .group(freqGroup)
            .elasticY(true)
            // (optional) whether bar should be center to its x value. Not needed for ordinal chart, :default=false
            .centerBar(false)
            // (optional) set gap between bars manually in px, :default=2
            .gap(1)
            // (optional) set filter brush rounding
            .round(dc.round.floor)
            ////.alwaysUseRounding(true)
            .xAxisLabel('Days Since')
            .yAxisLabel('Customer Count')
            .x(d3.scale.linear().domain([1, 35]))
            .renderHorizontalGridLines(true);
    
          durationChart.width(function (){ return $("#duration-chart").width();})
            .height(function (){ return window.innerHeight*.7 < 260 ? window.innerHeight*0.7 : 260;})
            .transitionDuration(350)
            .margins({top: 5, right: 10, bottom: 37, left: 38})
            .dimension(durationDim)
            .group(durationGroup)
            .elasticY(true)
            // (optional) whether bar should be center to its x value. Not needed for ordinal chart, :default=false
            .centerBar(false)
            // (optional) set gap between bars manually in px, :default=2
            .gap(1)
            // (optional) set filter brush rounding
            .round(dc.round.floor)
            ////.alwaysUseRounding(true)
            .xAxisLabel('Minutes')
            .yAxisLabel('Customer Count')
            .x( d3.scale.linear().domain([1,25]) )
            .renderHorizontalGridLines(true);
            durationChart.xAxis().tickFormat(function(v) {return v*10;})     // DIRTY HACK FOR BINNING
    
          loyaltyChart.width(function (){ return $("#duration-chart").width();})
            .height(function (){ return window.innerHeight*.7 < 260 ? window.innerHeight*0.7 : 260;})
            .transitionDuration(350)
            .margins({top: 5, right: 10, bottom: 37, left: 45})
            .dimension(loyaltyDim)
            .group(loyaltyGroup)
            .elasticY(true)
            // (optional) whether bar should be center to its x value. Not needed for ordinal chart, :default=false
            .centerBar(false)
            // (optional) set gap between bars manually in px, :default=2
            .gap(1)
            // (optional) set filter brush rounding
            .round(dc.round.floor)
            //.alwaysUseRounding(true)
            .xAxisLabel('Visits Number')
            .yAxisLabel('Customer Count')
            .x(d3.scale.linear().domain([1, 10]))
            .renderHorizontalGridLines(true);
           
           dayOfWeekChart.width(function (){ return $("#duration-chart").width();})
            .height(function (){ return window.innerHeight*.7 < 260 ? window.innerHeight*0.7 : 260;})
            .transitionDuration(350)
            .margins({top: 5, right: 10, bottom: 37, left: 5})
            .group(dayOfWeekGroup)
            .dimension(dayOfWeekDim)
            // assign colors to each value in the x scale domain
            .ordinalColors(['#1f77b4']) 
            .label(function (d) {
                return d.key.split(".")[1];
            })
            // title sets the row text
            .title(function (d) {
                return d.value;
            })            
            .elasticX(true);
            
           cohortChart.width(function (){ return $("#duration-chart").width();})
            .height(function (){ return window.innerHeight*.7 < 260 ? window.innerHeight*0.7 : 260;})
            .transitionDuration(350)
            .margins({top: 5, right: 10, bottom: 37, left: 5})
            .group(dayOfWeekGroup)
            .dimension(dayOfWeekDim)
            // assign colors to each value in the x scale domain
            .ordinalColors(['#1f77b4']) 
            .label(function (d) {
                return d.key.split(".")[1];
            })
            // title sets the row text
            .title(function (d) {
                return d.value;
            })            
            .elasticX(true);
           
           roleChart.width(function (){ return $("#duration-chart").width();})
            .height(function (){ return window.innerHeight*.7 < 260 ? window.innerHeight*0.7 : 260;})
            .transitionDuration(350)
            .group(dayOfWeekGroup)
            .dimension(dayOfWeekDim)
            // assign colors to each value in the x scale domain
            .ordinalColors(['#1f77b4']) 
            .label(function (d) {
                return d.key.split(".")[1];
            })
            // title sets the row text
            .title(function (d) {
                return d.value;
            });
    
           arrivalHourChart.width(function (){ return $("#duration-chart").width();})
            .height(function (){ return window.innerHeight*.7 < 260 ? window.innerHeight*0.7 : 260;})
            .transitionDuration(350)
            .margins({top: 5, right: 10, bottom: 37, left: 38})
            .dimension(hourOfDayDim)
            .group(hourOfDayGroup)
            .elasticY(true)
            // (optional) whether bar should be center to its x value. Not needed for ordinal chart, :default=false
            .centerBar(false)
            // (optional) set gap between bars manually in px, :default=2
            .gap(1)
            // (optional) set filter brush rounding
            .round(dc.round.floor)
            //.alwaysUseRounding(true)
            .xAxisLabel('Hour of Day')
            .yAxisLabel('Customer Count')
            .x(d3.scale.linear().domain([0, 24]))
            .renderHorizontalGridLines(true);

    
          departureHourChart.width(function (){ return $("#duration-chart").width();})
            .height(function (){ return window.innerHeight*.7 < 260 ? window.innerHeight*0.7 : 260;})
            .transitionDuration(350)
            .margins({top: 5, right: 10, bottom: 37, left: 38})
            .dimension(departureHourDim)
            .group(departureHourGroup)
            .elasticY(true)
            // (optional) whether bar should be center to its x value. Not needed for ordinal chart, :default=false
            .centerBar(false)
            // (optional) set gap between bars manually in px, :default=2
            .gap(1)
            // (optional) set filter brush rounding
            .round(dc.round.floor)
            //.alwaysUseRounding(true)
            .xAxisLabel('Hour of Day')
            .yAxisLabel('Customer Count')
            .x(d3.scale.linear().domain([0, 24]))
            .renderHorizontalGridLines(true);
    
        moveChart
            .renderArea(true)
            .width(function (){ return $("#wrap").width();})
            .height(function (){ return window.innerHeight*.6 < 260 ? window.innerHeight*0.6 : 260;})
            .transitionDuration(350)
            .margins({top: 5, right: 35, bottom: 37, left: 40})
            .dimension(moveWeeksDim)
            .mouseZoomable(false)
            // Specify a range chart to link the brush extent of the range with the zoom focue of the current chart.
            .rangeChart(volumeChart)
            .x(d3.time.scale().domain([dataDateStart, dataDateEnd]))
            .round(d3.time.week.round)
            .xUnits(d3.time.weeks)
            .elasticY(true)
            .renderHorizontalGridLines(true)
            .legend(dc.legend().x(800).y(10).itemHeight(13).gap(5))
            // Add the base layer of the stack with group. The second parameter specifies a series name for use in the legend
            // The `.valueAccessor` will be used for the base layer
            .group(indexAvgByWeekGroup, "Returning Clients")
            .valueAccessor(function (d) {
                return d.value.returnClients;
            })
            // stack additional layers with `.stack`. The first paramenter is a new group.
            // The second parameter is the series name. The third is a value accessor.
            .stack(indexAvgByWeekGroup, "New Clients", function (d) {
                return d.value.newClients;
            })
            // title can be called by any stack layer.
            .title(function (d) {
                var value = d.value.newClients ? d.value.newClients : d.returnClients;
                if (isNaN(value)) value = 0;
                return dateFormat(d.key) + "\n" + numberFormat(value);
            });
    
        volumeChart.width(function (){ return $("#wrap").width();})
            .height(function (){ return window.innerHeight/5 < 100 ? window.innerHeight/5 : 100;})
            .transitionDuration(350)
            .margins({top: 5, right: 35, bottom: 37, left: 40})
            .dimension(moveDaysDim)
            .group(volumeByDayGroup)
            .centerBar(true)
            .gap(1)
            .x(d3.time.scale().domain([dataDateStart, dataDateEnd]))
            .round(d3.time.day.round)
            //.alwaysUseRounding(true)
            .xUnits(d3.time.days)
            .yAxis().ticks(1);
            
            
         originChart.width(function (){ return $("#wrap").width();})
            .height(function (){ return window.innerHeight/5 < 100 ? window.innerHeight/5 : 100;})
            .transitionDuration(350)
            .margins({top: 5, right: 35, bottom: 37, left: 40})
            .dimension(originDim)
            .group(originGroup)
            .centerBar(true)
            .gap(1)
            .x(d3.time.scale().domain([dataDateStart, dataDateEnd]))
            .round(d3.time.day.round)
            //.alwaysUseRounding(true)
            .xUnits(d3.time.days)
            .yAxis().ticks(1);
    
        //~~~~ Rendering  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        dc.renderAll();
    
    });
