extends ../sidebarLayout

block content
  .page-header
    h3 #{title}
    
  form.form-horizontal(action='/generateEmailsList' method='POST')

    .form-group
      label.col-sm-3.control-label(for='applicant_type') Type
      .col-sm-5
        input(type='checkbox',name='applicant_type', value='mentor')
        span Mentor
        br
        input(type='checkbox',name='applicant_type', value='junior')
        span Junior Student
        br
        input(type='checkbox',name='applicant_type', value='senior')
        span Senior Student
        br
    .form-group
      label.col-sm-3.control-label(for='applicant_state') State
      .col-sm-5
        input(type='radio',name='applicant_state', value='true', checked='selected')
        span Matched
        br
        input(type='radio',name='applicant_state', value='false')
        span Unmatched
        br
        
    div
      input(type='hidden', name='_csrf', value=_csrf)
      
      button.btn.btn.btn-primary.col-sm-6.col-sm-offset-2.col-xs-12(type='submit')
        span.ion-android-hand
        | Generate List!