extends ../doubleSidebarLayout
    
//- Hacky attempt at Namespacing CSS
block pageStyle
  - var pageStyleVar = "pageStyle-crossFilter "
  

  
block content
  h1.title=title
  style.
    .pageStyle-crossFilter .chart_box{padding-bottom:0px;}
    
    .dc-chart g.row text {
      fill: rgb(43, 43, 43);
     }
  
  .chart_box(style="margin-bottom:15px;min-height:65px;")
    h4.data-count.number-chart Loading Graph, Please Wait...
  
  #charts
  
  script.
    //# dc.js Getting Started and How-To Guide
    'use strict';
    

    //~~~ Load data  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        //d3.csv("data.csv", function(data) {...};
        //d3.json("data.json", function(data) {...};
        //jQuery.getJson("data.json", function(data){...});

    window.onresize= function(){dc.renderAll();}
    
    d3.json("/data/applications/#{cohort._id.toString()}", function (res) {
        /* since its a csv file we need to format the data a bit */
        
        var dateFormat = d3.time.format("%m/%d/%Y");
        var numberFormat = d3.format(".2f");
        var days= ["Sun","Mon","Tue","Wed","Thu","Fri","Sat"];
        
        var dataDateStart= new Date( res.data[0].submissionDate);
        var dataDateEnd  = new Date( res.data[res.data.length-1].submissionDate);
        
        var ndx = crossfilter(res.data);
        var all = ndx.groupAll();
        
        var charts={};
        
        // Used to instantiate the chart's html, js, and data dimensions.
        (res.form || []).forEach(function (field) {
          
          console.log(field);
          //if (field.analyze)
            switch ( field.type) {
              case "number":
                              
                makeChartHTML(field);
                var dim = ndx.dimension(function (d) { return d; });
                var chart = dc.barChart("#"+field.name);
                
                chart.width(function (){ return 300; })
                  .height(function (){ return window.innerHeight*.7 < 260 ? window.innerHeight*0.7 : 260;})
                  .transitionDuration(350)
                  .margins({top: 5, right: 10, bottom: 37, left: 38})
                  .dimension( dim )
                  .group( dim.group() )
                  .elasticY(true)
                  // (optional) whether bar should be center to its x value. Not needed for ordinal chart, :default=false
                  .centerBar(false)
                  // (optional) set gap between bars manually in px, :default=2
                  .gap(1)
                  // (optional) set filter brush rounding
                  .round(dc.round.floor)
                  ////.alwaysUseRounding(true)
                  .xAxisLabel( field.xAxis )
                  .yAxisLabel( field.yAxis )
                  .x(d3.scale.linear().domain([1, 35]))
                  .renderHorizontalGridLines(true);    
                        
                break;
              case "range":
                
                break;
              case "date":
                
                break;
              case "radioGroup":
                
                break;
              case "checkboxGroup":
                
                break;
            }          
        });
    
        //~~~ Create Crossfilter Dimensions and Groups  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    
        //See the [crossfilter API](https://github.com/square/crossfilter/wiki/API-Reference) for reference.

        
        
        //~~~~ Charting   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
              
  
    
        //~~~~ Rendering  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        dc.renderAll();
    
    
      function makeChartHTML(f){
        var el ='<div class="oneThird">'+
                  '<div id="'+ f.name +'" class="dc-chart chart_box">'+
                    '<h4>'+ f.label +'</h4>'+
                    '<span style="display: none;" class="reset"></span>'+
                    '<a href="javascript:'+ f.name +'.filterAll();dc.redrawAll();" class="reset"></a>'+
                  '</div>'+
                '</div>';
        
        $('#charts').append($(el));
      }
    });
    
    
    
    
    
    
    
    
    
    
    
    
    
