extends ../formLayout
block content
    div
        div.jumbotron(style="margin-top:10%")
            h2 This form is not available anymore
            p.
                A falsis, xiphias varius scutum. Lotus, ferox urias saepe perdere de audax, teres exsul.
                Peregrinatione diligenter ducunt ad regius lactea.
                Cum verpa resistere, omnes guttuses acquirere dexter, festus abactuses.
    
