extends ../formLayout
block content
    div
        div.jumbotron(style="margin-top:10%")
            h2 Thank you for your submission!
            p.
                A falsis, eleates raptus accola. Cum calcaria cantare, omnes accentores desiderium magnum, azureus acipenseres.
                Bassus amicitia semper manifestums bursa est.
                Cum nutrix unda, omnes torquises fallere salvus, emeritis candidatuses.
    
